<!-- Goal match: 496812 -->
<section class="top-section" data-match-id="2178783" data-match-time="1466899200" data-match-status="played" data-omniture-icid="TS">
<script class="scorer-tmpl" type="text/template">
<li><a href="<%= scorerHref %>"><%= scorer %></a></li>
</script>
<div class="match-header clearfix" itemscope itemtype="http://schema.org/SportsEvent">
<div class="info">
<div class="status-live">Live</div>
<h3 itemprop="superEvent">Copa America</h3>
<ul>
<li itemprop="startDate">June 26, 2016</li>
<li>&#8226; 01:00</li>
<li>&#8226; University of Phoenix Stadium, Glendale, Arizona</li>
</ul>
<ul>
<li>Referee: Daniel Fedorczuk</li>
</ul>
</div>
<meta itemprop="name" content="United States - Colombia">
<meta itemprop="url" content="/en/match/united-states-vs-colombia/2178783">
<div class="home" data-omniture-icid="HDH">
<a href="/en/teams/usa/united-states/2281">
<img src="http://secure.cache.images.core.optasports.com/soccer/teams/150x150/2281.png"/>
<h2>United States</h2>
</a>
<ul>
</ul>
</div>
<div class="score">
<div class="home-score">0</div>
<div class="vs">FT</div>
<div class="away-score">1</div>
<p></p>
</div>
<div class="away" data-omniture-icid="HDA">
<a href="/en/teams/colombia/colombia/473">
<img src="http://secure.cache.images.core.optasports.com/soccer/teams/150x150/473.png"/>
<h2>Colombia</h2>
</a>
<ul>
<li>
<a href="/en/people/colombia/47252/carlos-bacca">C.&nbsp;Bacca&nbsp;31'</a></li>
</ul>
</div>
</div>
</section>


